@import 'utils/variables.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font-stack;
  // margin: 0 auto;
  }

.container {
  max-width: 330px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 709px;
  }

  @media (min-width: 992px) {
    max-width: 1071px;
  }
}

