// @import 'utils/variables.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font-stack;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  }

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 992px) {
    max-width: 1071px;
  }
}

