@font-face {
    font-family: "Acrom-Bold";
    src: url(../../fonts/fonts/Acrom-Bold.woff2) format('woff2');
    src: url(../../fonts/fonts/Acrom-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Acrom-ExtraBold";
    src: url(../../fonts/fonts/Acrom-ExtraBold.woff2) format('woff2');
    src: url(../../fonts/fonts/Acrom-ExtraBold.woff) format('woff');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Acrom-Light";
    src: url(../../fonts/fonts/Acrom-Light.woff2) format('woff2');
    src: url(../../fonts/fonts/Acrom-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Acrom-Medium";
    src: url(../../fonts/fonts/Acrom-Medium.woff2) format('woff2');
    src: url(../../fonts/fonts/Acrom-Medium.woff) format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Acrom-Regular";
    src: url(../../fonts/fonts/Acrom-Regular.woff2) format('woff2');
    src: url(../../fonts/fonts/Acrom-Regular.woff.woff) format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat-Bold";
    src: url(../../fonts/fonts/Montserrat-Bold.woff2) format('woff2');
    src: url(../../fonts/fonts/Montserrat-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
  }

  