// font-stack

$main-font-stack: 'Acrom-Regular';
$header-font-stack-bold: 'Acrom-Bold';
$header-font-stack-extra-bold: 'Acrom-ExtraBold';
$medium-font-stack: 'Acrom-Medium';
$light-font-stack: 'Acrom-Light';
$secondary-font-stack: 'Montserrat-Bold';

// color-map

$accent-color-orange: #ff6d00;
$main-header-color: #0e1f34;
$span-color-dark: #000000;
$main-text-color: #6a707b;
$accent-color-azure: #00edff;
$accent-color-white: #ffffff;
$accent-color-azure: #00edff;
