.feture-section {
  list-style: none;
  padding-top: 45px;
  margin-bottom: 75px;

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__h2 {
    max-width: 270px;
    color: #0e1f34;
    margin-bottom: 30px;
    font-weight: 900;

    @media screen and (min-width: 1200px) {
      width: 258px;
    }
  }

  &__span {
    color: #6a707b;
  }

  &__container {
    max-width: 270px;
    list-style: none;
    margin-bottom: 24px;

    &:not(:last-child) {
      padding-right: 40px;
    }

    @media screen and (min-width: 768px) {
      width: 33%;
      padding: 0px;
    }

    &::before {
      content: '.';
      width: 7px;
      height: 30px;
      background-color: #6a707b;
      opacity: 0.2;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.feture-section__h2--first {
  &::before {
    content: '01';
    position: absolute;
    font-size: 42px;
    opacity: 0.1;
    color: #6a707b;
    margin-left: -50px;
    margin-top: 15px;
    transform: rotate(270deg);
    font-weight: 900;
  }
}

.feture-section__h2--second {
  &::before {
    content: '02';
    position: absolute;
    font-size: 42px;
    opacity: 0.1;
    color: #6a707b;
    margin-left: -50px;
    margin-top: 15px;
    transform: rotate(270deg);
    font-weight: 900;
  }
}

.feture-section__h2--third {
  &::before {
    content: '03';
    position: absolute;
    font-size: 42px;
    opacity: 0.1;
    color: #6a707b;
    margin-left: -50px;
    margin-top: 15px;
    transform: rotate(270deg);
    font-weight: 900;
  }
}

.feture-section__p {

  @media screen and (min-width: 768px) {
    width: 156px;
  }

  @media screen and (min-width: 1200px) {
    width: 258px;
  }
}
