.feture-section {
  margin-top: 30px;
  list-style: none;
}

.feture-section__h2 {
  max-width: 270px;
  color: #0e1f34;
  margin-bottom: 30px;
}

.feture-section__h2--first {
  &::before {
    content: '01';
    position: absolute;
    font-size: 42px;
    opacity: 0.1;
    color: #6a707b;
    margin-left: -50px;
    transform: rotate(270deg);
    font-weight: 900;
  }
}

.feture-section__h2--second {
  &::before {
    content: '02';
    position: absolute;
    font-size: 42px;
    opacity: 0.1;
    color: #6a707b;
    margin-left: -50px;
    transform: rotate(270deg);
    font-weight: 900;
  }
}

.feture-section__h2--third {
  &::before {
    content: '03';
    position: absolute;
    font-size: 42px;
    opacity: 0.1;
    color: #6a707b;
    margin-left: -50px;
    transform: rotate(270deg);
    font-weight: 900;
  }
}

.feture-section__span {
  color: #6a707b;
}

.feture-section__container {
  max-width: 270px;
  list-style: none;
}

.feture-section__container::before {
  content: '.';
  width: 7px;
  height: 30px;
  background-color: #6a707b;
  opacity: .2;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    }

    .feture-section {
      display: flex;
    }

    .feture-section__container {
      width: 33%;
      padding: 15%;
    }

    .feture-section__h2 {
      width: 150px;
    }

    .feture-section__p {
      width: 156px;
    }
  }

  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }

    .feture-section {
      display: flex;
    }

    .feture-section__container {
      width: 33%;
    }

    .feture-section__h2 {
      width: 258px;
    }

    .feture-section__p {
      width: 258px;
    }
  }









