.goit-section {
  background-color: $main-header-color;
  width: 100%;
  text-align: center;
  height: auto;
  padding-top: 96px;
  padding-bottom: 100px;
  font-size: 16px;
  line-height: 25px;

  &_wrapper {
    margin: 0 auto;
  }
}

.logo-link {
  margin-bottom: 45px;
  margin-right: auto;
  margin-left: auto;
}

.goit-section > .some-text {
  color: $main-text-color;
  max-width: 695px;
  margin: 0 auto;
}

.azure-span {
  color: $accent-color-azure;
}
