header {
    background-image: url(../images/BG.png);
    padding-top: 40px;
    height: 600px;
}

.container {
    max-width: 550px;
}

.logo-link {
    height: 30px;
    display: block;
}

.main-header {
    font-family: $main-font-stack;
    color: rgb(255, 255, 255);
    text-align: center;
}

.span-style {
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.304;
    left: 330.937px;
    top: 216.35px;
    color: rgb(255, 255, 255);
}

.main-header__caption {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.541);
    line-height: 1.429;
    left: 460.916px;
    top: 247.217px;
}