header {
  background-image: url(../images/BG.png);
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 30px;
  height: 450px;

  @media (min-width: 768px) {
    height: 595px;
  }

  @media (min-width: 992px) {
    height: 600px;
  }

  .container {
    text-align: center;
  }
}

.logo-link {
  width: 96px;
  height: 30px;
  display: block;
  margin-bottom: 40px;
}

.main-header {
  font-family: $main-font-stack;
  color: $accent-color-white;
  margin: 0;
  font-size: 20px;
  margin-bottom: 28px;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 36px;
  }
}

.span-style {
  display: block;
  font-size: 30px;
  line-height: 1.4;
  font-weight: 900;
  text-transform: uppercase;
  color: $accent-color-white;
  margin-bottom: 28px;

  @media (min-width: 768px) {
    font-size: 46px;
  }

  @media (min-width: 992px) {
    margin-bottom: 25px;
  }
}

.main-header__caption {
  color: $main-text-color;
}
