.mission-wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
}

.mission-card {
  margin: 0 auto;
  padding: 0 40px;
  // display: block;

  @media (min-width: 768px) {
    // display: inline-block;
    width: 50%;
  }
}

.mission-wrapper {
  @media (min-width: 768px) {
    display: flex;
  }
}

.mission-card > .feture-section__h2 {
  margin-bottom: 30px;
}

.caption {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
}