.video-section {
  padding: 75px 0 65px;

  @media (min-width: 768px) {
    padding: 90px 0;
  }

  @media (min-width: 1200px) {
    padding: 115px 0 95px;
  }


  picture,
  img {
    display: block;
    width: 100%;

    @media (min-width: 768px) {
      width: 650px;
      margin: 0 auto;
    }
  }
}

.video-section__button {
  display: block;
  font-family: $main-font-stack;
  font-weight: 700;
  font-size: 12px;
  padding: 20px 40px 20px 40px;
  border: none;
  background-color: $accent-color-orange;
  color: $accent-color-white;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 8px 43px 0px rgba(255, 107, 8, 0.59);
  cursor: pointer;
  margin: 40px auto 0;

  @media (min-width: 768px) {
    margin-top: 65px;
  }
}
