.video-section__button{
    
      width: 263px;
      height: 50px;
      border: none;
      background-color: $accent-color-orange;
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
  }